
<div class="section">
    <div class="content">
        <img class="image" src="/assets/img-section-reviews.png">
        <div class="right">
            <div class="description">Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis sem dui, vel rutrum risus tincidunt ullamcorper. Proin eu enim metus. Vivamus sed libero ornare, tristique quam in, gravida enim. Nullam ut molestie arcu, at hendrerit elit. Morbi laoreet elit at ligula molestie, nec molestie mi blandit. Suspendisse cursus tellus sed augue ultrices, quis tristique nulla sodales. Suspendisse eget lorem eu turpis vestibulum pretium. Suspendisse potenti. Quisque malesuada enim sapien, vitae placerat ante feugiat eget. Quisque vulputate odio neque, eget efficitur libero condimentum id. Curabitur id nibh id sem dignissim finibus ac sit amet magna.</div>
            <div class="name">Tim Smith</div>
            <div class="function">British Dragon Boat Racing Association</div>
            <div class="customers">
                <img class="customer" *ngFor="let i of customers" [src]="i">
                <div class="btn">Meet all customers<span class="material-symbols-outlined icon">trending_flat</span></div>
            </div>
        </div>
    </div>
</div>
