
<div class="footer">
    <div class="content">
        <div class="left">
            <img class="logo" src="/assets/logo-footer.png">
            <div class="text">Copyright © 2020 Nexcent ltd.<br>All rights reserved</div>
            <div class="social-media">
                <img class="icon" *ngFor="let i of icons" [src]="i">
            </div>
        </div>
        <div class="right">
            <div class="column a">
                <div class="title">Company</div>
                <div class="column-item">About us</div>
                <div class="column-item">Blog</div>
                <div class="column-item">Contact us</div>
                <div class="column-item">Pricing</div>
                <div class="column-item">Testimonials</div>
            </div>
            <div class="column b">
                <div class="title">Support</div>
                <div class="column-item">Help center</div>
                <div class="column-item">Terms of service</div>
                <div class="column-item">Legal</div>
                <div class="column-item">Privacy policy</div>
                <div class="column-item">Status</div>
            </div>
            <div class="column c">
                <div class="title">Stay up to date</div>
                <div class="email">
                    <input class="input" type="email" placeholder="Your email adress">
                    <img class="icon-email" src="/assets/icon-email.png">
                </div>
            </div>
        </div>
    </div>
</div>
