
<div class="heder">
    <app-nav-bar class="nav-bar"></app-nav-bar>
    <div class="content">
        <div class="left">
            <div class="title">Lessons and insights <span class="word-title">from 8 years</span></div>
            <div class="subtitle">Where to grow your business as a photographer: site or social media?</div>
            <app-button button="Register"></app-button>
        </div>
        <div class="right">
            <img class="img-heder" src="/assets/img-heder.png">
        </div>
    </div>
    <img class="icon-heder" src="/assets/icon-heder.png">
</div>
