
@import "mixins";
@import "variables";

:host{
    display: block;
}

.bar{
    padding: 22px 0;
    height: 84px;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    @include latime;
}

.logo{
    height: 24px;
}

.menu-item{
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(24, 25, 31, 1);
    margin: 0 22px;
    cursor: pointer;
    &:hover{
        color: black;
        font-weight: 500;
    }
}

.menu-btn{
    font-size:26px;
    background: rgba(77, 77, 77, 1);
    color: rgba(76, 175, 79, 1);
    padding: 2px 4px;
    border-radius: 4px;
    border: 2px solid green;
}

.btn{
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color:rgba(76, 175, 79, 1);
    background: rgba(245, 247, 250, 1);
    padding: 10px 20px;
    border-radius: 6px;
    margin-left: 14px;
    cursor: pointer;

}

.btn.primary{
    color: rgba(255, 255, 255, 1);
    background: rgba(76, 175, 79, 1);
}

@media screen and (min-width:1025px) {
    .menu-btn{
        display: none;
    }
}


@media screen and (max-width:1024px) {
    .menu{
        display: none;
    }
}

@media screen and (max-width:$max-width-break-point) {
    .buttons{
        display: none;
    }
}