
@import "mixins";
@import "variables";

:host{
    width: 100%;
    display: inline-block;
}

.card{
    position: relative;
    padding-bottom: 70px;
}

.content{
    position: absolute;
    top:200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: rgba(245, 247, 250, 1);
    box-shadow: 0px 8px 16px rgba(171, 190, 209, 0.4);
    margin: 0 25px;
    min-width: 306px;
}

.photo{
    width: 100%;
}

.info{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: rgba(113, 113, 113, 1);
    text-align: center;
}

.button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.text{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: rgba(76, 175, 79, 1);
}

.icon{
    width: 24px;
}


